spring:
  mvc:
    servlet:
      path: /api/v1
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password
  scheduling:
    thread-name-prefix: scheduler-
    pool:
      size: 10
    shutdown:
      await-termination: true
      await-termination-period: 30

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        calculations_channel:
          name: calculations_channel

server:
  port: 8081

logging:
  level:
    root: info

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080

app:
  scheduling:
    daily-midnight-cron: "0 0 0 * * *" # Каждый день в 00:00
    post:
      max-posts-per-time: 10
  dictionary:
    post-dictionary-path: /dictionary/post-forbidden-words.txt
post-service:
  tag:
    count-of-most-popular-tags: 2